<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USJsgeno</title>
    <link rel="shortcut icon" href="favicon.ico">
    <!-- food icons -->
    <link rel="stylesheet" type="text/css" href="css/alunos.css"/>
    <!-- food icons -->
    <link rel="stylesheet" type="text/css" href="css/organicfoodicons.css"/>
    <!-- demo styles -->
    <link rel="stylesheet" type="text/css" href="css/demo.css"/>
    <!-- menu styles -->
    <link rel="stylesheet" type="text/css" href="css/component.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="js/modernizr-custom.js"></script>
</head>

<body>
<!-- Main container -->
<div class="container">
    <!-- Blueprint header -->
    <header class="bp-header cf">
        <div class="dummy-logo">
            <div class="dummy-icon foodicon foodicon--coconut"></div>
            <h2 class="dummy-heading">USJsgeno</h2>
        </div>
        <div class="bp-header__main">
            <a href="https://usj.edu.br/" target="_blank"><span class="bp-header__present">Centro Universitário Municipal de São José</span></a>
            <h1 class="bp-header__title">USJsgeno</h1>
            <nav class="bp-nav">
                <a class="bp-nav__item bp-icon bp-icon--prev" href="login.html"
                   data-info="previous Blueprint"><span>Previous Blueprint</span></a>
                <!--a class="bp-nav__item bp-icon bp-icon--next" href="" data-info="next Blueprint"><span>Next Blueprint</span></a-->
            </nav>
        </div>
    </header>
    <button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
    <nav id="ml-menu" class="menu">
        <button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
        <div class="menu__wrap">
            <ul data-menu="main" class="menu__level" tabindex="-1" role="menu" aria-label="All">
                <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1"
                                                          aria-owns="submenu-1" href="#">Alunos</a></li>
                <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2"
                                                          aria-owns="submenu-2" href="#">Empresas</a></li>
                <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3"
                                                          aria-owns="submenu-3" href="#">Contratos</a></li>
                <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4"
                                                          aria-owns="submenu-4" href="#">Banco de Vagas</a></li>
            </ul>
            <!-- Submenu 1 -->
            <ul data-menu="submenu-1" id="submenu-1" class="menu__level" tabindex="-1" role="menu"
                aria-label="Vegetables">
                <li class="menu__item" role="menuitem"><a class="menu__link" href="novo-aluno.html">Novo Aluno</a></li>
                <li class="menu__item" role="menuitem"><a class="menu__link" href="alunos.html">Ver Alunos</a></li>
            </ul>
            <!-- Submenu 2 -->
            <ul data-menu="submenu-2" id="submenu-2" class="menu__level" tabindex="-1" role="menu" aria-label="Fruits">
                <li class="menu__item" role="menuitem"><a class="menu__link" href="nova-empresa.html">Nova Empresa</a></li>
                <li class="menu__item" role="menuitem"><a class="menu__link" href="empresas.html">Ver Empresas</a></li>
            </ul>
            <ul data-menu="submenu-3" id="submenu-3" class="menu__level" tabindex="-1" role="menu" aria-label="Grains">
                <li class="menu__item" role="menuitem"><a class="menu__link" href="novo-contrato.html">Novo Contrato</a></li>
            </ul>
            <!-- Submenu 4 -->
            <ul data-menu="submenu-4" id="submenu-4" class="menu__level" tabindex="-1" role="menu"
                aria-label="Mylk &amp; Drinks">
                <li class="menu__item" role="menuitem"><a class="menu__link" href="nova-vaga.html">Nova Vaga</a></li>
                <li class="menu__item" role="menuitem"><a class="menu__link" href="vagas.html">Ver Vagas</a></li>
        </div>
    </nav>
    <div class="content">
        <div class="vagas">
            <div class="caption">Alunos</div>
            <div id="table">
                <div class="header-row row">
                    <span class="cell primary">Matrícula</span>
                    <span class="cell">Nome Completo</span>
                    <span class="cell">Curso</span>
                    <span class="cell">Fase</span>
                    <span class="cell">Sexo</span>
                    <span class="cell">Telefone</span>
                    <span class="cell">Celular</span>
                    <span class="cell">E-mail</span>
                    <span class="cell">Opções</span>
                </div>
                <div class="row">
                    <input type="radio" name="expand">
                    <span class="cell primary" data-label="Matrícula">123456</span>
                    <span class="cell" data-label="Nome">Kawan Silva da Fonseca</span>
                    <span class="cell" data-label="Curso">ADS</span>
                    <span class="cell" data-label="Fase">3</span>
                    <span class="cell" data-label="Sexo">Masculino</span>
                    <span class="cell" data-label="Telefone">4812345678</span>
                    <span class="cell" data-label="Celular">48123456789</span>
                    <span class="cell" data-label="Email">teste@teste.com</span>
                    <span class="cell" data-label="Opções"><a href="#"><i class="fas fa-pen" id="editar"></i></a><a href="#"> <i
                            class="fas fa-trash-alt"></i></a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /view -->
<script src="js/classie.js"></script>
<script src="js/dummydata.js"></script>
<script src="js/main.js"></script>
<script>
    (function () {
        var menuEl = document.getElementById('ml-menu'),
            mlmenu = new MLMenu(menuEl, {
                // breadcrumbsCtrl : true, // show breadcrumbs
                // initialBreadcrumb : 'all', // initial breadcrumb text
                backCtrl: false, // show back button
                // itemsDelayInterval : 60, // delay between each menu item sliding animation
                onItemClick: loadDummyData // callback: item that doesn´t have a submenu gets clicked - onItemClick([event], [inner HTML of the clicked item])
            });

        // mobile menu toggle
        var openMenuCtrl = document.querySelector('.action--open'),
            closeMenuCtrl = document.querySelector('.action--close');

        openMenuCtrl.addEventListener('click', openMenu);
        closeMenuCtrl.addEventListener('click', closeMenu);

        function openMenu() {
            classie.add(menuEl, 'menu--open');
            closeMenuCtrl.focus();
        }

        function closeMenu() {
            classie.remove(menuEl, 'menu--open');
            openMenuCtrl.focus();
        }

        // simulate grid content loading
        var gridWrapper = document.querySelector('.content');

        function loadDummyData(ev, itemName) {
            ev.preventDefault();

            closeMenu();
            gridWrapper.innerHTML = '';
            classie.add(gridWrapper, 'content--loading');
            setTimeout(function () {
                classie.remove(gridWrapper, 'content--loading');
                gridWrapper.innerHTML = '<ul class="products">' + dummyData[itemName] + '<ul>';
            }, 700);
        }
    })();
</script>
</body>

</html>
